@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

.prose h1 {
  color: #699bd3;
  @apply text-4xl font-bold mt-8 mb-4;

}

.prose h2 {
  color: #98e7ea;
  @apply text-2xl font-semibold mt-8 mb-4;
}

.prose h3 {
  @apply text-xl font-medium mt-6 mb-3;
}

.prose h4 {
  @apply text-xl font-medium mt-4 mb-2;
}

.prose a {
  @apply text-blue-600 hover:text-blue-800;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.toc ul {
  list-style-type: none;
  padding-left: 0;
}

.toc li {
  margin-bottom: 0.5em;
}

.toc a {
  color: white;
  text-decoration: none;
}

.toc a:hover,
.toc a.active {
  color: #98e7ea;
}